|* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  gap: 20px;
}

.card > img {
  width: 100%;
  height: 200px;
}
.card {
  background-color: rgb(230, 219, 205);
}
.details {
  padding: 10px 10px 0px;
}
button {
  background-color: yellowgreen;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

.random > img {
  width: 250px;
  height: 200px;
  border-radius: 10px;
}

@media (max-width: 850px) {
  .container {
    grid-template-columns: repeat(2, 250px);
  }
}
