* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 250px);

  justify-content: center;
  background-color: burlywood;
  padding: 30px;
}

.container > div {
  background-color: azure;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
}
.container > div > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.info {
  text-align: left;
  margin-top: 8px;
  margin-left: 10px;
}
h2 {
  margin-top: 8px;
}

h4 > span {
  font-size: 17px;
  font-weight: 500;
}

@media (max-width: 750px) {
  .container {
    grid-template-columns: repeat(2, 270px);
  }
}

@media (max-width: 550px) {
  .container {
    grid-template-columns: repeat(1, 350px);
  }
}
